<nav class="navbar bg-warning shadow sm body-tertiary">
    <div class="container-fluid">
        <i style="font-size: 60px;" class="fa-sharp fa-solid fa-bowl-food icon icon-xlarge">
        </i>
        <i style="font-size: 60px;" class="fa-sharp fa-solid fa-bowl-food icon icon-large">
        </i>
        <i style="font-size: 60px;" class="fa-sharp fa-solid fa-bowl-food icon icon-medium">
        </i>
        <i style="font-size: 60px;" class="fa-sharp fa-solid fa-bowl-food icon icon-small">
        </i>
        <i style="font-size: 60px;" class="fa-sharp fa-solid fa-bowl-food icon icon-small">
        </i>

        <img src="assets/imgs/Delivery-man-with-classic-scooter-on-transparent-PNG(1).png" alt="" class="navbar-image">
        <a class="navbar-brand"> <strong style="font-size: 70px"><em>Bowls & Foodies</em> </strong> </a>
        <form class="d-flex" role="search">
            <button class="btn btn-outline-success" type="Search">Find :</button>
            <input class="form-control me-2" type="search" placeholder="your bowl of choice" aria-label="Search">
            <i style="font-size:33px;" class="fas fa-cart-plus"></i>
        </form>
    </div>
    <div class="card-top container-fluid">
        <div class="container">
            <div class="item">
                <img src="" alt="">
                <h6> <button class="btn fa-sharp fa-solid fa-bowl-food" style="font-size: 20px;"
                        routerLink="/home">Menu</button> </h6>
            </div>
            <div class="item">

                <h6>
                    <button class="btn btn fa-sharp fa-solid fa-bowl-food" style="font-size: 20px;"
                        routerLink="/about-us">About</button>
                </h6>
            </div>

            <div class="item">
                <h6> <button class="btn btn fa-sharp fa-solid fa-bowl-food" style="font-size: 20px;"
                        routerLink="/gallery">Gallery</button></h6>
            </div>
        </div>
    </div>
</nav>